@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/css?family=Catamaran');


/*____________________________________________________________général*/
/*espace vertical*/
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

body{
    background:#fef0ca;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
}

.logo{
    width: 30px;
}

/*couleur font menu deroulant datepicker*/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black;
}

/*____________________________________________________________table*/
.main-box.no-header {
    padding-top: 15px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 1.225em;
}
.table thead tr th {
    border-bottom: 1px solid black;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 1.125em;
    vertical-align: middle;
    border-top: 1px solid black;
    padding: 4px 8px;
}

/*____________________________________________________________panel*/
.panel {
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 8px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
}

.panel-title{
    padding-top: 10px;
    color: #3498db;
}

.linkcontest{
    text-transform: none!important;
    color: dimgrey;
    font-size: 13px;
}

.panstyl > .panel-heading {
 background-color: white;
    color: black;
    text-transform: uppercase;
    border-color: #e7ebee;
}


/*____________________________________________________________accueil*/

.prize{
    font-size: 13px;
    font-weight: bold;
}

.befdescr{
    font-size: 13px;
}




.befprize{
    font-size: 12px;
    font-style: italic;
}

.facebook{
    width: 20px;
}

.pnbodytop {
    padding : 0;
}


.rowimg{
    min-height: 150px;
    background-color: #f6ffff;
}

.admin-ico-freq{
    width: 25px;
}

.bt-w{
    width: 70px;
}

::-webkit-input-placeholder {
    color: lightgrey!important;
    opacity: 0.8;
}
:-moz-placeholder {
    color: #0b93d5!important;
    opacity: 0.8;
}
:-ms-input-placeholder {
    color: #0b93d5!important;
    opacity: 0.8;
}

.profil-head{
    background-color: white;
    padding-top: 5px;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.avatar-profil{
    width: 100px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 3px;
}

.pseudo{
    color: #3498db;
    font-size: 18px;
    font-weight: bold;
}

hr{
    margin: 5px;
}

.bold{
    font-weight: bold;
}

.edit-profil{
    width: 100%;
}

.menuprofil{
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    display: block;
}

.menuprofil:hover{
    font-size: 16px;
    padding: 10px;
    display: block;
    border-bottom: 5px solid #3498db;
    color: #3498db;
}


.list-inline li{
    padding: 0!important;
    cursor: pointer!important;
}

.activite{
    border-bottom: 5px solid #3498db;
    color: #3498db;
}




.spacetbl{
    margin-bottom: 15px;
}

.type{
    background-color: #0f85bd;
    color: white;
}

.clos{
    text-transform: lowercase;
    background-color: #f38531;
    padding: 4px 5px 4px 5px;
    border-radius: 3px;
    color: #fef0ca;
    font-size: 12px;
    font-weight: bold;
    width: 135px;
    display: block;
}

.today{
    background-color: #d9534f!important;
    color: #fef0ca!important;
}


.nom{
    padding: 2px 5px 2px 5px;
    color: #fef0ca;
    font-size: 14px;
    text-transform: capitalize!important;
    font-family: 'Convergence', sans-serif;

}

.contest-img{
    width: 135px;
    min-height: 110px;
    border-radius: 5px;
    border: 3px solid #0f85bd;
    z-index: 99999;
}

/*.zoom:hover{*/
    /*opacity: 1;*/
    /*-webkit-transform: scale(2.5);*/
    /*-moz-transform: scale(2.5);*/
    /*-o-transform: scale(2.5);*/
    /*transform: scale(2.5);*/
    /*z-index: auto;*/

/*}*/

.zoom {
    -webkit-transition: opacity .3s ease-in-out,
    -webkit-transform .3s ease-in-out,
    background-color 1s ease-in-out;
    -moz-transition: opacity .3s ease-in-out,
    -moz-transform .3s ease-in-out,
    background-color 1s ease-in-out;
    -o-transition: opacity .3s ease-in-out,
    -o-transform .3s ease-in-out,
    background-color 1s ease-in-out;
    transition: opacity .3s ease-in-out,
    transform .3s ease-in-out,
    background-color 1s ease-in-out;
    z-index: auto;

}

.pubby{
    background-color: #e5e5e5;
}

.alltable{
    background-color: white;
    padding: 15px;
}

.table-curved {
    border-radius: 6px;
}

.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 4px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 4px 4px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

.bod{
    background-color: #f6ffff;
}

table td {
    border-top: none !important;
}

.publierle {
    text-transform: lowercase;
    border-radius: 3px;
    color: black;
    font-size: 12px;
}


.navbar-xs {
    min-height:22px;
    border-radius:0;
    margin-bottom: 0;
}
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; }
.navbar-xs .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 16px }

.mini{
    padding: 0;
}

.mininav > li > a {
    position: relative;
    display: block;
    padding: 8px;
    color: #fef0ca!important;
    border-color: #f6faff !important;
}

.mininav > .fcb a :hover {
     color: #3498db!important;
 }

.mininav > .alertbt a :hover {
    color: #ffad00 !important;
}

.mininav > .tropbt a :hover {
     color: #ffec40 !important;
 }

.mininav > .favbt a :hover {
    color: #9f9f9f !important;
}

.mininav > .rfavbt a :hover {
    color: #ff0003 !important;
}

.mininav > .markbt a :hover {
    color: #ff0003 !important;
}

.mininav > .rmarkbt a :hover {
    color: #14ce48 !important;
}

.navbar-xs .rmarkbt a { border-right:none!important; }
.navbar-xs .markbt a { border-right:none!important; }


.navbar-default {
    border-color: #666666!important;
    background-color: #666666!important;
}

.mininav {
    background-color: #236c8f;
    border-color: #666666!important;
}

.minimenu{
     background-color: #e5e5e5;
 }

.minimenuxs{
    background-color: #d3d3d3;
    border-bottom-left-radius: 5px;
}

.margpub{
    margin-top: 8px;
}

.navbar-xs .navbar-nav > li > a:hover, .navbar-xs .navbar-nav > li > a:focus {
    color: #3498db;;
}

.share{
    font-size: 12px;
}

/*_____________________________________________________________commentaires*/
.titlecom{
    background-color: #ffc777;
    padding: 3px;
    font-size: 12px;
    margin-left: 40px;
}

.comments{
    background-color: #fff8e3 ;
    padding: 7px;
    margin-left: 40px;
}

.avatar-com{
    width: 40px;
    position: absolute;
   border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.close-com{
    margin: 20px 0;

}

.pagination{
    margin : 20px!important;
}


.pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.comfer{
    margin-top: -17px;
    margin-right: 17px;
}

.table thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}




.table {
     margin-bottom: 0 !important;
    border: 1px solid black!important;
}

.comspace{
    margin: 5px;
}

.post{
    background-color: #fef0ca;
    border-color: #bc987b!important;
}

.postcom{
    margin: 17px;
}

.tbl-prin {
    margin-bottom: 0!important;
    border: 1px solid black;
    border-radius: 5px!important;
    overflow: hidden;
}

/*menu latéral*/
.centermini{
margin: auto;
    width: 100%;
}
.miniform{
    position:relative;
    background:#eeeeee;
    width: 49%;
    margin: 3px;
    list-style: none;
    overflow:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);
}

.vminiform{
    position:relative;
    background:#eeeeee;
    width: 47%;
    margin: 3px;
    list-style: none;
    overflow:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);
}


ul.form {
    position:relative;
    background:#fff8e3;
    width: 100%;
    min-width: 100px;
    margin:auto;
    padding:0;
    list-style: none;
    overflow:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);
}

.form li a {
    border: 1px solid #9c9c9c;
    width: 100%;
    min-width: 150px;
    padding-left:6px;
    height:32px;
    line-height:32px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:12px;
    color:#686868;
    font-weight: bold;
}


.form li:first-child a:hover, .form li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover, .form li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.form li a:hover i {
    color:#ea4f35;
}

.form i {
    margin-right:10px;

    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

.form em {
    font-size: 10px;
    background: #ea4f35;
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: normal;
    color: #fff;
    margin-top: 17px;
    margin-right: 15px;
    line-height: 10px;
    height: 10px;
    float:right;
}

.imgmenu{
    margin-right: 6px;
    width: 20px;
}

.imgmenuadmin{
    width: 25px;
}

.menuspace{
    margin-top: 10px;
}

.badgemenu{
    margin: 5px;
    font-weight: bold;
    background-color: #ada89a!important;
    color: #fef0ca!important;
}

.menufont{
    font-size: 12px;
}
footer{
    height: 30px;
}

.form li.selected a.tous {
    background: #666666;
    color:  #fef0ca;
}

.form li a.tous {
                    border-left:7px solid #666666;
    background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #666666 50%,
    #666666);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;

}

.form li a.tous:hover {
                    color:  white;
    background-position: 0 0;
}

.inputadd{
    min-width: 100%!important;
}

/*____________________________________________________________________messages de l'utilisateur*/

.userpostcontest{
    background-color: #505050;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px;
}

.userpostmessage{
    background-color: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px;
}

.userpostcontestall{
    margin-bottom: 5px;
    margin-top: 5px;
    border: solid 1px black;
    border-radius: 4px;
}

.margepag{
    margin:0!important;
}

.dejajouer{
    width: 120px;
}

.dejouerplace{
    position: absolute;
    right: 0;
    margin-top: -101px;
    margin-right: 16px;
}

.enfav{
    position: absolute;
    right: 0;
    margin-top: -38px;
    margin-right: 26px
}

.search{
    border: 0;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 8px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*____________________________________________________________________navbar custom*/
.header{
    background-image: url("../img/logohd.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 100px;
    background-size: 1000px 100px;
    margin-bottom: 0!important;
}



.wrap{
    background-image: url("../img/logoextend.png");
    background-size: 100% 100px;
}

.vertical {
    display: inline-block;
    width: 105px;
    height: 10px;
left: -5px!important;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.vertical {
    box-shadow: inset 0px 4px 6px #ccc;
  position: absolute;
    margin-top: -58px;
}

.progress-bar-cold {
    background: #bde8f9 !important;
    background: -moz-linear-gradient(left, #bde8f9 0%, #a1ddf4 28%, #4fc1ea 65%, #2d85ff 100%) !important;
    background: -webkit-linear-gradient(left, #bde8f9 0%,#a1ddf4 28%,#4fc1ea 65%,#2d85ff 100%) !important;
    background: linear-gradient(to right, #bde8f9 0%,#a1ddf4 28%,#4fc1ea 65%,#2d85ff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde8f9', endColorstr='#2d85ff',GradientType=1 )!important;
}

.progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100, 100, 100, 0.6);
    background: #fcff59; /* Old browsers */
    background: -moz-linear-gradient(left, #fcff59 0, #f7a554 42px, #f48f30 76px, #d81604 105px); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fcff59 0, #f7a554 42px, #f48f30 76px, #d81604 105px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fcff59 0, #f7a554 42px, #f48f30 76px, #d81604 105px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcff59', endColorstr='#d81604', GradientType=1);
}

.bt-vote{
     height: 30px;
     width: 30px;
     padding: 5px;

 }

.pourcent{
    margin-top: 12px;
    margin-bottom: 12px;
}

.contain-pourcent{
    position: absolute;
    margin-top: -50px;
}

.wincount{
    position: absolute;
    margin-left: 700px;
    margin-top: 72px;
    font-size: 14px;
    font-weight: bold;
    color: #FDF1CA !important;
    text-shadow: 1px 1px 1px #968366, 2px 1px 4px #333333;
    font-family: 'Rock Salt', cursive;
    transform: rotate(2deg);
}

.wrapper{
    background-color: #666666;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid saddlebrown ;
}

.container-fluid {
    width: 92%;
}

.navv{
    background-color: #666666!important;
    border: 1px solid black!important;
    border-radius: 5px!important;
    font-size: 16px;
}

.navv li a{
    color: white!important;
}

.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

.navv li a:hover,
.navv li a:focus {
    color: rgba(255, 251, 0, 1)!important;
    background-color: rgba(248, 248, 248, 0)!important;
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0) 100%)!important;
    background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0) 100%)!important;
}

.navv .active>a,
.navv .active>a:hover,
.navv .active>a:focus {
    color: rgba(85, 85, 85, 1)!important;
    background-color: rgba(19, 132, 189, 1);
}

.navv .dropdown-menu > li > a{
    color: rgba(85, 85, 85, 1)!important;
}

.table .btn-group .btn {
    margin-right: 0;
}

.particpe{
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}

.btn.grey-cascade:not(.btn-outline).active, .btn.grey-cascade:not(.btn-outline):active, .btn.grey-cascade:not(.btn-outline):hover, .open>.btn.grey-cascade:not(.btn-outline).dropdown-toggle {
    color: #fef0ca;
    background-color: #0f85bd;
    border-color: #95A5A6;
}

.btn.grey-cascade:not(.btn-outline) {
    color: #fef0ca;
    background-color: #236c8f;
    border-color: #74898a;
}

.table > thead > tr > th{
    padding: 6px!important;
    font-size: 12px;
}



.miniava{
    width:25px;
    border-radius: 50%;
}

.postpseudo{
    font-weight: bold;
    color: #666666;
}

.paneladd{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #9fe814;
    text-align: left;
    padding-left: 12px;
    color: #666666;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

.paneladd:hover{
    background-color: #a9fa00;
    color: #666666;
}

.addsquare{
     float: right;
    font-size: 30px;
    margin-top: -7px;
 padding-right: 5px;
 }

/*------------------------------------------------------------------------------------------------------PORTFOLIO*/
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 24.5%;
    margin: 0.1%;
    display: none;
    float: left;
    overflow: hidden;
    background-color: black;
    border: 1px solid black;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}



.view {
    float: left;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.1em !important;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.8);
    margin: 0.3em 0 0 0
}

.view p {
    font-size: 1em;
    position: relative;
    color: #fff;
    padding: 0.1em 0.4em 0.4em;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(10, 139, 176, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
    z-index: 9;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

.view-first:hover {
    cursor: pointer;
}

.contain {
    overflow: hidden;
}

.pager {
    float: left;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.pager-list {
    margin-left: -14px;
}

.pager-list span {
    padding: 5px;
    color: #d8d8d8;
    border-radius: 2px;
}

.pager-list span.active {
    background: #0a8bb0;
}

#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
}

#filters li {
    float: left;
}

#filters li span {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

#filters li span.active {
    background: #7bb7d5 !important;
    color: white;
    border-radius: 5px;
}



.portfolio img {
    width: 100%;
    height:100%;
}

.fix {
    display: flex;
    flex-wrap: wrap;
}

.vali{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.lastdate{
    position: absolute;
    color: white;
    z-index: 9;
    text-align: center;
    background-color: #1384bc;
    display: block;
    width: 100%;
}

.selectpicker option{
   background-color: #0a0a0a;
    color: white;
}

.selectpicker{
    background-color: #0a0a0a;
    color: white;
}

.signin{
    width: 100%;
 text-transform: uppercase;
}

.connectpan{
    background-color: #ffdabd!important;
}

.panelrec{
background-color: #da5450!important;
    padding: 4px 10px!important;
}

.panelplay{
    background-color: #7bb7d5!important;
    padding: 4px 10px!important;
}

.panelwin{
    background-color: #e1c800!important;
    padding: 4px 10px!important;
}

.panellog{
    background-color: #f38531!important;
    padding: 4px 10px!important;
}

.panellast{
    background-color: #0f85bd!important;
    padding: 4px 10px!important;
}

.panelhome{
    background-color: #0f85bd!important;
    color: #fef0ca!important;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
}

.panelcontent{
    background-color: #e5e5e5 !important;
    padding: 5px!important;
}

.paneltop{
    color: #fef0ca!important;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
}


.titleplus{
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 44px;
}

.descrplus{
    font-size: 11px;
}

.labelplus{
    width: 40px!important;
    display: block;!important;
    position: absolute;
    background-color: #d9534f;
}

hr.style10 {
    border-top: 1px dotted #263d29;
    border-bottom: 1px dotted #263d29;
}

.divplus{
    padding: 3px;
    margin: 0.001%!important;
}

.labelwin{
    background-color: #e1c800;
}

.labelplay{
    background-color: #7bb7d5;
}

.com {
    color: #686253;
    background-color: #f7bb1a;
    border-color: #e1e5ec;
}

.play {
    color: #686253;
    background-color: #f7ed60;
    border-color: #e1e5ec;
}

.logavatar{
    width: 70px;
    border-radius: 50%;
}

.logimg{
    padding: 0!important;
}

.admin{
    height: 20px;
    background-color: #1982b7;
}

.panel-body{
    padding: 5px!important;
    background-color: #f4fffc;
}

.table{
    border: none!important;
}

.table tr{
    border-color: black!important;
}

.userdot{
    color: #666666 !important;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 22px !important;
}

#chart-container{
    background-color: white;
    width: 100%;
    height: 300px
}

#chart-container-pie{
    background-color: white;
    width: 100%;
    height: 300px
}

.paneldef{
    padding: 12px!important;
    font-size: 16px !important;
}

