/*____________________________________________________________général*/
/*espace vertical*/
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

body{
    background:#eee;
}

.logo{
    width: 30px;
}

/*couleur font menu deroulant datepicker*/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black;
}

/*____________________________________________________________table*/
.main-box.no-header {
    padding-top: 15px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 4px 8px;
}

/*____________________________________________________________panel*/
.panel {
    border: 0;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 8px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.panel-title{
    padding-top: 10px;
    color: #3498db;
}

.linkcontest{
    text-transform: none!important;
    color: dimgrey;
    font-size: 13px;
}

.panstyl > .panel-heading {
 background-color: white;
    color: black;
    text-transform: uppercase;
    border-color: #e7ebee;
}


/*____________________________________________________________accueil*/

.prize{
    font-size: 13px;
    font-weight: bold;
}

.befdescr{
    font-size: 13px;
}

.contest-img{
    width: 180px;
    border-radius: 3px;
    border: 1px solid grey;
}


.befprize{
    font-size: 12px;
    font-style: italic;
}

.facebook{
    width: 20px;
}

.pnbodytop {
    padding : 0;
}

.tbl-bt-marge{
    margin-bottom: 3px!important;
}

.admin-ico-freq{
    width: 25px;
}

.bt-w{
    width: 70px;
}

::-webkit-input-placeholder {
    color: lightgrey!important;
    opacity: 0.8;
}
:-moz-placeholder {
    color: #0b93d5!important;
    opacity: 0.8;
}
:-ms-input-placeholder {
    color: #0b93d5!important;
    opacity: 0.8;
}

.profil-head{
    background-color: white;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.avatar-profil{
    width: 70px;
}

.pseudo{
    color: #3498db;
    font-size: 18px;
    font-weight: bold;
}

hr{
    margin: 5px;
}
