/*____________________________________________________________général*/
/*espace vertical*/
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

body{
    background:#eee;
}

.logo{
    width: 30px;
}

/*couleur font menu deroulant datepicker*/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black;
}

/*____________________________________________________________table*/
.main-box.no-header {
    padding-top: 15px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 4px 8px;
}

/*____________________________________________________________panel*/
.panel {
    border: 0;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 8px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.panel-title{
    padding-top: 10px;
    color: #3498db;
}

.linkcontest{
    text-transform: none!important;
    color: dimgrey;
    font-size: 13px;
}

.panstyl > .panel-heading {
 background-color: white;
    color: black;
    text-transform: uppercase;
    border-color: #e7ebee;
}


/*____________________________________________________________accueil*/

.prize{
    font-size: 13px;
    font-weight: bold;
}

.befdescr{
    font-size: 13px;
}




.befprize{
    font-size: 12px;
    font-style: italic;
}

.facebook{
    width: 20px;
}

.pnbodytop {
    padding : 0;
}


.rowimg{
    max-height: 150px;
    background-color: #3498db;
}

.admin-ico-freq{
    width: 25px;
}

.bt-w{
    width: 70px;
}

::-webkit-input-placeholder {
    color: lightgrey!important;
    opacity: 0.8;
}
:-moz-placeholder {
    color: #0b93d5!important;
    opacity: 0.8;
}
:-ms-input-placeholder {
    color: #0b93d5!important;
    opacity: 0.8;
}

.profil-head{
    background-color: white;
    padding-top: 5px;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.avatar-profil{
    width: 100px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 3px;
}

.pseudo{
    color: #3498db;
    font-size: 18px;
    font-weight: bold;
}

hr{
    margin: 5px;
}

.bold{
    font-weight: bold;
}

.edit-profil{
    width: 100%;
}

.menuprofil{
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    display: block;
}

.list-inline li{
    padding: 0!important;
}

.activite{
    border-bottom: 5px solid #3498db;
    color: #3498db;
}


.tbl-prin{
    margin-bottom: 3px!important;

}

.spacetbl{
    margin-bottom: 15px;
    background-color: white;
}

.type{
    background-color: #707070;
    color: white;
}

.clos{
    text-transform: lowercase;
    background-color: crimson;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.nom{
    padding: 2px 5px 2px 5px;
    color: white;
    font-size: 15px;
}

.contest-img{
    width: 135px;
    max-height: 135px;
    border-radius: 3px;
    border: 2px solid white;
    z-index: 99999;

}

.zoom:hover{
    opacity: 1;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    z-index: auto;

}

.zoom {
    -webkit-transition: opacity .3s ease-in-out,
    -webkit-transform .3s ease-in-out,
    background-color 1s ease-in-out;
    -moz-transition: opacity .3s ease-in-out,
    -moz-transform .3s ease-in-out,
    background-color 1s ease-in-out;
    -o-transition: opacity .3s ease-in-out,
    -o-transform .3s ease-in-out,
    background-color 1s ease-in-out;
    transition: opacity .3s ease-in-out,
    transform .3s ease-in-out,
    background-color 1s ease-in-out;
    z-index: auto;

}

.pubby{
    background-color: lightgrey;
}

.alltable{
    background-color: white;
    padding: 15px;
}

.table-curved {
    border-radius: 6px;
}

.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 4px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 4px 4px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

.bod{
    background-color: #eee;
}

table td {
    border-top: none !important;
}

.publierle {
    text-transform: lowercase;
    background-color: #348434;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    color: gainsboro;
    font-size: 12px;
}


.navbar-xs {
    min-height:22px;
    border-radius:0;
    margin-bottom: 0;
}
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; }
.navbar-xs .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 16px }

.mini{
    padding: 0;
}

.mininav > li > a {
    position: relative;
    display: block;
    padding: 8px;
}

.minimenu{
    background-color: #3498db;
}

.margpub{
    margin-top: 8px;
}

.navbar-xs .navbar-nav > li > a:hover, .navbar-xs .navbar-nav > li > a:focus {
    color: #3498db;;
}

.share{
    font-size: 12px;
}

/*_____________________________________________________________commentaires*/
.titlecom{
    background-color: lightgrey;
    padding: 3px;
    font-size: 12px;
    margin-left: 40px;
}

.comments{
    background-color: #eeeeee ;
    padding: 7px;
    margin-left: 40px;
}

.avatar-com{
    width: 40px;
    position: absolute;
   border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.close-com{
    margin: 20px 0;
}

.pagination{
    margin : 20px!important;
}


.pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.comfer{
    margin-top: -17px;
}